@mixin europe-map {

  .country {
    fill: rgb(192,192,192);
    fill-rule: nonzero;
  }

  &.smooth-color-transition {
    .country {
      transition: fill 0.34s ease-out;
    }
  }

  /* fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421; */

}