@mixin europe-map {

  .country {
    fill: rgb(192,192,192);
    fill-rule: nonzero;
  }

  &.highlight-hover {
    .country:hover {
      fill: orange !important;
    }
  }

  &.clickable {
    .country {
      cursor: pointer;
    }
  }

  &.smooth-color-transition {
    .country {
      transition: fill 0.34s ease-out;
    }
  }
}