@import "world-map";
@import "us-states-map";

@mixin maplayout-addon {
  .maplayout-addon {

    background: white;
    position: relative;

    &.transparent-bg {
      background: transparent;
    }

    &.world-map {
      @include world-map;
    }

    &.us-states-map {
      @include us-states-map;
    }

    .maplayout-child-wrapper {
      position: absolute;
      left: 0%;
      top: 0%;
      transition: left 0.34s ease-out, top 0.34s ease-out;
    }
  }
}