@import "world-map";
@import "us-states-map";
@import "europe-map";

@keyframes maplayout-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@mixin maplayout-addon {
  .maplayout-addon {

    background: white;
    position: relative;

    &.maplayout-loading {
      &:after {
        display: block;
        content: " ";
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -10px;
        margin-top: -10px;
        border: 4px solid #EEE;
        border-top: 4px solid #AAA;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        animation: maplayout-spin 2s linear infinite;
      }
    }

    &.transparent-bg {
      background: transparent;
    }

    &.world-map {
      @include world-map;
    }

    &.us-states-map {
      @include us-states-map;
    }

    &.europe-map {
      @include europe-map;
    }

    .maplayout-child-wrapper {
      position: absolute;
      left: 0%;
      top: 0%;
      transition: left 0.34s ease-out, top 0.34s ease-out;
    }
  }
}