@import "../valo/valo.scss";
@import "addons.scss";

.demo {

	@include valo;
	@include addons;

	.vaadin-pin {
		margin-left: -15px;
		margin-top: -15px;
		width: 30px;
		height: 30px;
		transition: width 0.2s ease-out, height 0.2s ease-out;
		border-radius: 15px;
		border: 2px solid white;
		background-color: darkcyan;
		overflow: hidden;
		box-shadow: 0px 0px 3px rgba(0,0,0,0.75);
		cursor: help;

		.vaadin-pin-logo {
			display: block;
			color: white;
			text-shadow: 0px 0px 2px rgba(0,0,0,0.75);
			width: 100%;
			text-align: center;
			user-select: none;
			pointer-events: none;
			line-height: 30px;
		}

		.vaadin-pin-header, .vaadin-pin-body {
			display: none;
			color: white;
			width: 100%;
		}

		.vaadin-pin-header {
			text-align: center;
		}

		.vaadin-pin-body {
			white-space: normal;
			padding: 0 1em;
			font-size: 75%;
		}

		&:hover {
			width: 200px;
			height: 200px;
			border-radius: 5px;

			.vaadin-pin-logo {
				display: none;
			}

			.vaadin-pin-header {
				display: block;
				width: 100%;
				font-weight: 600;
			}

			.vaadin-pin-body {
				display: block;
				width: 100%;
			}
		}
	}

	.chart-wrapper {
		width: 150px;
		height: 150px;
		margin-left: -75px;
		margin-top: -75px;
	}

	.demo-europe {
		.title {
			font-size: 30px;
			font-family: cursive;
		}
		.arrow {
			color: red;
			font-size: 24px;
			text-shadow: 0px 0px 2px rgba(0,0,0,0.2);
			animation: maplayout-spin 2s linear infinite;
		}
	}

	.demo-europe-chart {

		.country {
			fill-opacity: 0.85;

			&:hover {
				fill-opacity: 1.0;
			}
		}

		.legend-box {
			position: relative;
			display: block;
			border: 1px solid black;
			background: white;
			width: 200px;
			height: 100px;

			.legend-title {
				display: block;
				position: absolute;
				top: 5px;
				left: 5px;
				right: 5px;
				overflow: hidden;
				text-overflow: ellipsis;
				color: black;
				text-align: center;
				font-weight: bold;
			}

			.legend-gradient {
				display: block;
				position: absolute;
				width: 20px;
				top: 30px;
				left: 5px;
				bottom: 5px;
				background: unquote("linear-gradient(to bottom, #ff0000 0%,#000000 100%)");
			}

			.legend-max-label {
				color: black;
				position: absolute;
				top: 30px;
				left: 30px;
			}

			.legend-min-label {
				color: black;
				position: absolute;
				bottom: 5px;
				left: 30px;
			}
		}
	}
}
